.carousel-item>img {
    height: 90vh;
    object-fit: cover;
}

.carousel-caption {
    bottom: 12.25rem !important;
    background: #0000003f;
    box-shadow: 0 0 10px 4px #fff;
    border-radius: 20px;
}

.card>img {
    height: 260px !important;
}

.nav-link {
    font-size: 20px !important;
    transition: .4s;
    margin: 0 10px;
}

.nav-link:hover {
    background: rgb(123, 68, 68);
    border-radius: 10px;
}

#contact a {
    font-size: 20px !important;
    transition: .4s;
    display: inline-block;
}

#contact a:hover {
    transform: translateY(7px);
    /* color: red !important; */
}